@import '../../style/variables.scss';
.app {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-height: 100%;
    background: #fff url('../../resources/img/bg.jpg') 50% 0 no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}

.sect-marg{
    margin-top: 50px;
}


.city{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-weight: 500;
    
    &__icon{
        display: block;
        width: 24px;
        margin-bottom: 3px;
        margin-right: 10px;

        svg{
            display: block;
            width: 100%;
        }
    }
}