@import '../../style/variables.scss';

.current-weather{
    background: rgba($color: $bg-blue, $alpha: .4);
    --padding: 40px;
    padding: var(--padding);
    border-radius: 30px;
    backdrop-filter: blur(5px);
    text-align: center;

    @media (max-width: 768px){
        --padding: 30px;
        border-radius: 15px;
    }

    @media (max-width: 479px){
        --padding: 15px;
    }

    hr{
        border: none;
        height: 1px;
        background: $main-color;
        margin: 30px 0;
    }


    &__city{
        font-size: 40px;

        @media (max-width: 1024px){
            font-size: 30px;
        }

        @media (max-width: 479px){
            font-size: 25px;
        }
    }

    &__temperature{
        margin-top: 20px;
        font-size: 80px;
        font-weight: 700;

        @media (max-width: 1024px){
            font-size: 50px;
        }

        @media (max-width: 479px){
            font-size: 30px;
            margin-top: 15px;
        }
    }

    &__sky-condition{
        font-size: 30px;
        margin-top: 15px;

        @media (max-width: 1024px){
            font-size: 25px;
        }

        @media (max-width: 479px){
            font-size: 20px;
            margin-top: 15px;

            &-icon{
                img{
                    height: 80px;
                }
            }
        }
    }

    &__hours{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: calc(100% + calc(var(--padding) * 2));
        margin-left: calc(var(--padding) * -1);
        margin-right: calc(var(--padding) * -1);
        padding: 0 var(--padding);
        margin-top: var(--padding);

        &::-webkit-scrollbar {
            display: none;
        }

        @media (max-width: 1024px){
            justify-content: space-between;
        }
    }

    &__hour{
        width: 65px;
        flex-shrink: 0;

        & + &{
            margin-left: 40px;

            @media (max-width: 768px){
                margin-left: 30px;
            }

            @media (max-width: 479px){
                margin-left: 20px;
            }
        }
    }

    &__hour-time{
        font-size: 20px;

        @media (max-width: 479px){
            font-size: 16px;
        }
    }

    &__hour-sky-state{
        margin: 0 auto;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        svg,
        img{
            display: block;
            width: 100%;
        }
    }

    &__hour-temperature{
        font-size: 20px;
        margin-top: 5px;

        @media (max-width: 479px){
            font-size: 16px;
        }
    }

    .sunrize-sunset{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        align-content: flex-end;
        
        &__info{
            flex-shrink: 0;
            margin-bottom: -4px;
            svg{
                display: block;
                margin: 0 auto;
                max-width: 100%;
            }
        }

        &__time{
            font-size: 1.1em;
            margin-top: 5px;
        }

        &__icon{
            width: 380px;
            margin: 0 25px;
            
            svg{
                display: block;
                width: 100%;
            }
        }
    }

    &__features{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;

        
        $margin-left: 40px;
        $margin-bottom: 25px;
        
        margin-left: -$margin-left;
        margin-bottom: -$margin-bottom;

        & > *{
            margin-left: $margin-left;
            margin-bottom: $margin-bottom;
        }

        .feature{
            &__val{
                font-size: 1.3em;
                font-weight: 600;
            }

            &__name{
                margin-top: 3px;
                font-size: 0.9em;
                color: #e8e8e8;
            }
        }
    }
}
