$main-bg-color: #fff;
$main-bg-img: url('../resources/img/bg.jpg') 50% no-repeat;

$main-color: #fff;

$bg-blue: #00054d;
$transition: .2s linear;
$font_family: 'Roboto', 'Arial', sans-serif;

$placeholder-color: rgba($color: $main-color, $alpha: 1);