@import '../../style/variables.scss';

.day {
    background: rgba($color: $bg-blue, $alpha: .4);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    text-align: center;

    @media (max-width: 479px){
        padding: 15px;
    }

    &__day-week {
        font-size: 1.1em;
        margin-bottom: 10px;
    }

    &__date {
        margin-bottom: 15px;
    }

    &__sky-condition {
        font-size: 1.4em;
        font-weight: 500;
        margin-bottom: 10px;
    }
    &__sky-condition-icon {

        margin-bottom: 10px;

        img{
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }
    }
    &__temp {
        display: flex;
        justify-content: center;

        &-item{
            margin: 0 15px;

            &-name{
                margin-bottom: 5px;
                color: #e8e8e8;
            }

            &-val{
                font-weight: 700;
            }
        }
    }
}

.day-list {
    &__grid {
        width: calc(100% + 30px);
        margin-left: -15px;
        padding: 0 15px;
        
        align-items: stretch;
        align-content: stretch;
        flex-wrap: nowrap;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__day {
        width: 200px;
        flex-grow: 1;
        flex-shrink: 0;

        & + &{
            margin-left: 15px;
        }

        @media (max-width: 479px){
            width: 180px;
        }
    }
}
