
@import '../../style/variables.scss';

.btn{
    button{
        background: rgba($color: $bg-blue, $alpha: .6);
        padding: 5px 25px;
        height: 50px;
        border-radius: 10px;
        backdrop-filter: blur(5px);
        font-family: $font_family;
        color: $main-color;
        border: none;
        cursor: pointer;
        transition: $transition;
        font-size: 1.05em;
        font-weight: 500;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;

        svg{
            margin-right: 5px;
        }

        &:hover{
            background: rgba($color: $bg-blue, $alpha: .8);
        }
    }
}