@import '../../style/variables.scss';

.footer{
    background: rgba($color: $bg-blue, $alpha: .5);
    margin-top: 100px;

    &__cont{
        padding: 15px;
    }

    &__text-logo{
        font-size: 1.1em;
        text-align: center;
    }

    @media (max-width: 768px){
        margin-top: 80px;
    }

    @media (max-width: 479px){
        margin-top: 60px;
    }
}
